input.inputStyle 	    {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; text-align: center; width: 100px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
input.inputStyleCC 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 150px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
input.inputStyleShort 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 50px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
input.inputStyleTwo 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 200px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}

input.buttonStyle     
{	
	font-family: verdana; 
	font-size: 10px; 
	font-weight: bold; 
	color:#ffffff; 
	text-align: center; 
	border: solid 1px #eff7fa; 
	background-color: #1C4C8E;
}

buttonStyle345     
{	
	font-family: verdana; 
	font-size: 10px; 
	font-weight: bold; 
	color:#ffffff; 
	text-align: center; 
	border: solid 1px #eff7fa; 
	background-color: #1C4C8E;
}

input.buttonStyleTwo  {font-family: verdana; font-size: 10px; font-weight: bold; color:#ffffff; text-align: center; border: 1px solid #1C4C8E; background-image: url('../images/bkgr05.jpg'); background-color: #ffffff}
input.inputStyleThree {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 150px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
.text {font-family: Arial;font-size: 12px;font-weight: normal}
.text_highlitedyellow {font-family: Arial;font-size: 12px;font-weight: normal;background-color: #FFFF00}
.text_highlitedgray {font-family: Arial;font-size: 12px;font-weight: normal;background-color: #EAEAEA; text-decoration: none; color: black;}
.text_highlitedygreen {font-family: Arial;font-size: 12px;font-weight: normal;background-color: #00FF00}
.text_highlitedygred {font-family: Arial;font-size: 12px;font-weight: normal;background-color: #FF0000}
.text_highlitedblue {font-family: Arial;font-size: 12px;font-weight: normal;background-color: skyblue}
.bold {font-family: Arial;font-size: 12px;font-weight: bold}
.inputStyleCC2 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 150px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
.inputStyleCC3 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 100px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
.inputStyleCC4 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 75px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
.inputStyleCC5 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; width: 250px; height: 16px; border: solid 1px #1C4C8E; background-color: #eff7fa;}
.inputStyleML 	 {font-family: verdana; font-size: 10px; font-weight: bold; color:#1C4C8E; border: solid 1px #1C4C8E; background-color: #eff7fa;}

.inputStyleNotSet {font-family: verdana; font-size: 10px; font-weight: bold; color:#000000; width: 150px; height: 16px; border: solid 1px #1C4C8E; background-color:#CCCCCC;}
.inputStyleSet {font-family: verdana; font-size: 10px; font-weight: bold; color:#000000; width: 150px; height: 16px; border: solid 1px #1C4C8E; background-color:#CCFFCC;}
