<%@ Page language="c#" Codebehind="AreYouSure.aspx.cs" AutoEventWireup="True" Inherits="Corpt.AreYouSure" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>AreYouSure</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout" id="pageBody" runat="server;>
		<form id="Form1" method="post" runat="server">
			<asp:Button style="Z-INDEX: 101; POSITION: absolute; TOP: 320px; LEFT: 400px" id="Button1" runat="server"
				Text="Button" onclick="Button1_Click"></asp:Button>
		</form>
	</body>
</HTML>
