<%@ Page language="c#" Codebehind="CertLabels.aspx.cs" AutoEventWireup="True" Inherits="Corpt.CertLabels" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Itemize</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK rel="stylesheet" type="text/css" href="css/main.css">
	</HEAD>
	<body onload="document.Form1.txtBatchNumber.focus();" bgColor="#f5f5f5" MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:textbox style="Z-INDEX: 101; POSITION: absolute; TOP: 32px; LEFT: 136px" id="txtBatchNumber"
				runat="server" CssClass="inputStyleCC" ontextchanged="txtOrderBatchNumber_TextChanged"></asp:textbox><asp:button style="Z-INDEX: 106; POSITION: absolute; TOP: 0px; LEFT: 0px" id="cmdHome" runat="server"
				CssClass="buttonStyle" Width="16px" Height="16px" Text="H" onclick="cmdHome_Click"></asp:button><asp:label style="Z-INDEX: 102; POSITION: absolute; TOP: 32px; LEFT: 40px" id="Label1" runat="server"
				CssClass="text">Batch Number</asp:label><asp:label style="Z-INDEX: 103; POSITION: absolute; TOP: 160px; LEFT: 128px" id="WrongInfoLabel"
				runat="server" CssClass="text"></asp:label><asp:label style="Z-INDEX: 104; POSITION: absolute; TOP: 112px; LEFT: 144px" id="Label2" runat="server"
				CssClass="text"></asp:label><asp:hyperlink style="Z-INDEX: 105; POSITION: absolute; TOP: 80px; LEFT: 240px" id="HyperLink1"
				runat="server"></asp:hyperlink><asp:button style="Z-INDEX: 107; POSITION: absolute; TOP: 32px; LEFT: 304px" id="cmdNewFormat"
				runat="server" CssClass="buttonStyle" Text="Print Labels" onclick="cmdNewFormat_Click"></asp:button><asp:hyperlink style="Z-INDEX: 108; POSITION: absolute; TOP: 112px; LEFT: 240px" id="HyperLink2"
				runat="server" NavigateUrl="TemplaT/PrintUtilSetup2.msi">Print Util</asp:hyperlink><asp:label style="Z-INDEX: 109; POSITION: absolute; TOP: 512px; LEFT: 528px" id="lblType" runat="server"
				CssClass="text" Font-Size="XX-Small"></asp:label></form>
	</body>
</HTML>
