<%@ Page language="c#" Codebehind="CPRulesDisplay.aspx.cs" AutoEventWireup="True" Inherits="Corpt.CPRulesDisplay" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Gem Science </title>
		<meta content="en-us" http-equiv="Content-Language">
		<LINK rel="stylesheet" type="text/css" href="/main.css">
			<script src="js/login.js"></script>
			<meta content="Tue, 16 Jan 1990 21:29:02 GMT" http-equiv="Expires">
			<LINK rel="stylesheet" type="text/css" href="css/main.css">
	</HEAD>
	<body leftMargin="0" topMargin="0" bgColor="#b8c5d5" marginwidth="0" marginheight="0">
		<table border="0" cellSpacing="0" cellPadding="0" width="780" align="center">
			<tr>
				<td bgColor="#b8c5d5" width="10"></td>
				<td bgColor="#ffffff" width="1"><IMG src="/images/gemological-laboratory.gif" width="1" height="1"></td>
				<td vAlign="top">
					<table border="0" cellSpacing="0" cellPadding="0" width="758">
						<tr>
							<td><A href="/index.html"><IMG border="0" alt="Gemological Science International" src="/images/top1.jpg" width="371"
										height="73"></A></td>
							<td><IMG src="/images/in_top2.jpg" width="387" height="73"></td>
						</tr>
					</table>
					<table border="0" cellSpacing="0" cellPadding="0" width="758">
						<tr>
							<td vAlign="top" background="/images/links_bg1.jpg" width="145">
								<table border="0" cellSpacing="0" cellPadding="0" width="146" background="/images/links_bg1.jpg"
									height="100%">
									<tr>
										<td><A href="/index.html"><IMG border="0" src="/images/top1a.jpg" width="146" height="74"></A></td>
									</tr>
								</table>
								<table border="0" cellSpacing="0" cellPadding="0" width="146" height="100%">
									<tr>
										<td background="/images/links_bg1.jpg"><A href="/aboutus.html"><IMG border="0" alt="About Us" src="/images/aboutus.gif" width="146" height="24"></A></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><A href="/tourourlab.html"><IMG border="0" alt="Tour Our Lab" src="/images/tourourlab.gif" width="146" height="24"></A></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><A href="/diamond-grading-reports.html"><IMG border="0" alt="Products and Services" src="/images/productsservices.gif" width="146"
													height="24"></A></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><A href="/thegemexperience.html"><IMG border="0" alt="The Gem Experience" src="/images/thegemexperience.gif" width="146"
													height="24"></A></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><A href="/tracking/result.asp"><IMG border="0" src="/images/verifyYourReport.gif" width="146" height="24"></A></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><A href="/consumer_trackyourjob.html"><IMG border="0" alt="Your Account" src="/images/youraccount.gif" width="146" height="24"></A></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><A href="/virtualvault/ActivateVirtualVault.aspx"><IMG border="0" alt="Your VirtualVault TM" src="/images/YourVirtualVault.gif" width="146"
													height="24"></A></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr vAlign="top" background="/images/links_bg.jpg">
										<td><A href="/trade.html"><IMG style="BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; WIDTH: 146px; HEIGHT: 24px; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid"
													hspace="0" alt="Industry Support" src="/images/trage.gif"></A></td>
									<tr>
										<td background="/images/links_bg1.jpg"><IMG src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr vAlign="top" background="/images/links_bg.jpg">
										<td height="130"><br>
											<table border="0" cellSpacing="0" cellPadding="0" width="140" align="center" height="70">
												<form>
													<TBODY>
														<tr bgColor="#ffffff">
															<td><IMG src="/images/search.gif" width="46" height="11"> <input class="tinput" size="18" name="d">
																<input border="0" src="/images/go.gif" width="17" height="17" type="image" name="imageField">
															</td>
														</tr></form>
											</table>
										</td>
									</tr>
									<tr background="/images/links_bg1.jpg">
										<td height="100%">&nbsp;</td>
									</tr>
								</table>
							</td>
							<td bgColor="#ffffff" vAlign="top" width="613" align="left">
								<table border="0" cellSpacing="0" cellPadding="0" width="500">
									<tr>
										<td><IMG src="/images/Corp.jpg" width="225" height="91"></td>
										<td><IMG src="/images/aboutus2.jpg" width="387" height="91"></td>
									</tr>
								</table>
								<table border="0" cellSpacing="0" cellPadding="0" width="100%">
									<tr vAlign="top" align="left">
										<td>
											<center>
												<form id="Form1" method="post" runat="server">
													<TABLE id="Table1" class="text" border="0" cellSpacing="0" cellPadding="0" width="100%">
														<TR>
															<TD align="center"><asp:label id="WrongInfoLabel" runat="server" Width="328px" DESIGNTIMEDRAGDROP="11" CssClass="text"></asp:label></TD>
														</TR>
														<TR>
															<TD align="center"><asp:linkbutton id="LinkButton1" runat="server" CssClass="text" onclick="LinkButton1_Click">Lookup By Customer</asp:linkbutton>&nbsp;
																<asp:linkbutton id="LinkButton2" runat="server" CssClass="text" onclick="LinkButton2_Click">Lookup By Batch</asp:linkbutton>&nbsp;
																<asp:linkbutton id="LinkButton3" runat="server" CssClass="text" onclick="LinkButton3_Click">Find By Style</asp:linkbutton>&nbsp;
																<asp:linkbutton id="LinkButton4" runat="server" onclick="LinkButton4_Click">Lookup by SKU</asp:linkbutton></TD>
														</TR>
														<TR>
															<TD align="center"><asp:panel id="pnlFindByCustomer" runat="server" Width="512px" CssClass="text" Visible="False">
																	<P>Select a customer, then customer program.<BR>
																		<asp:DropDownList id="lstCustomerList" runat="server" CssClass="inputStyleCC5" AutoPostBack="True" onselectedindexchanged="lstCustomerList_SelectedIndexChanged"></asp:DropDownList>
																		<asp:DropDownList id="lstProgramList" runat="server" CssClass="inputStyleCC2" AutoPostBack="True" onselectedindexchanged="lstProgramList_SelectedIndexChanged"></asp:DropDownList>
																		<asp:Button id="cmdListProgram" runat="server" CssClass="buttonStyle" Text="." onclick="cmdListProgram_Click"></asp:Button></P>
																</asp:panel></TD>
														</TR>
														<TR>
															<TD align="center"><asp:panel id="pnlFindByBatch" runat="server" CssClass="text" Visible="False">Enter a batch number and 
                        press "lookup".<BR>
<asp:Label id="Label2" runat="server" CssClass="text" DESIGNTIMEDRAGDROP="655">Batch Number</asp:Label>
<asp:TextBox id="txtBatchNumber" runat="server" CssClass="inputStyleCC" Width="136px"></asp:TextBox>
<asp:Button id="ActivateButton" runat="server" CssClass="buttonStyle" Width="144px" Text="Lookup" onclick="ActivateButton_Click"></asp:Button><BR>
<asp:Label id="InfoLabel" runat="server" CssClass="text"></asp:Label></asp:panel></TD>
														</TR>
														<TR>
															<TD align="center"><asp:panel id="pnlFindByStyle" runat="server" CssClass="text" Visible="False">
																	<asp:Label id="Label1" runat="server" CssClass="text">Style</asp:Label>
																	<asp:textbox id="txtStyleNumber" runat="server" CssClass="inputStyleCC"></asp:textbox>
																	<asp:button id="cmdLookupStyle" runat="server" CssClass="buttonStyle" Text="Find SKU by Style" onclick="cmdLookupStyle_Click"></asp:button>
																	<BR>
																	<asp:Label id="lblStyleNotFound" runat="server"></asp:Label>
																	<BR>
																	<asp:datagrid id="tblCustomerSKU" runat="server" CssClass="text" Width="504px" Visible="False"
																		CellPadding="3" BackColor="White" BorderWidth="1px" BorderStyle="None" BorderColor="#CCCCCC">
																		<FooterStyle ForeColor="#000066" BackColor="White"></FooterStyle>
																		<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
																		<AlternatingItemStyle BackColor="WhiteSmoke"></AlternatingItemStyle>
																		<ItemStyle ForeColor="#000066"></ItemStyle>
																		<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#1C4C8E"></HeaderStyle>
																		<PagerStyle HorizontalAlign="Left" ForeColor="#000066" BackColor="White" Mode="NumericPages"></PagerStyle>
																	</asp:datagrid>
																</asp:panel><asp:panel id="pnlSKU" runat="server" Visible="False">
																	<asp:Label id="Label4" runat="server" CssClass="text">SKU</asp:Label>
																	<asp:textbox id="txtSKU" runat="server" CssClass="inputStyleCC"></asp:textbox>
																	<asp:button id="cmdFindBySKU" runat="server" CssClass="buttonStyle" Text="Find" onclick="cmdFindBySKU_Click"></asp:button>
																	<BR>
																	<asp:Label id="lblSKUNotFound" runat="server"></asp:Label>
																	<BR>
																	<asp:datagrid id="tblCustomerSKUII" runat="server" CssClass="text" Width="504px" Visible="False"
																		CellPadding="3" BackColor="White" BorderWidth="1px" BorderStyle="None" BorderColor="#CCCCCC">
																		<FooterStyle ForeColor="#000066" BackColor="White"></FooterStyle>
																		<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
																		<AlternatingItemStyle BackColor="WhiteSmoke"></AlternatingItemStyle>
																		<ItemStyle ForeColor="#000066"></ItemStyle>
																		<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#1C4C8E"></HeaderStyle>
																		<PagerStyle HorizontalAlign="Left" ForeColor="#000066" BackColor="White" Mode="NumericPages"></PagerStyle>
																	</asp:datagrid>
																	<BR>
																</asp:panel></TD>
														</TR>
														<tr>
															<td><asp:panel id="pnlResult" runat="server" CssClass="text" Visible="False">
																	<TABLE class="text" border="0" cellSpacing="0" cellPadding="0" width="100%">
																		<TR>
																			<TD align="center">
																				<asp:Image id="itemPicture" runat="server" Height="150px"></asp:Image></TD>
																		</TR>
																		<TR>
																			<TD>
																				<asp:Label id="lblCustomerProgramName" runat="server" CssClass="text" Visible="False"></asp:Label></TD>
																		</TR>
																		<TR>
																			<TD>
																				<asp:Label id="CustomerStyle" runat="server" CssClass="text"></asp:Label></TD>
																		</TR>
																		<TR>
																			<TD>
																				<asp:Label id="CustomerID" runat="server" CssClass="text"></asp:Label></TD>
																		</TR>
																		<TR>
																			<TD>
																				<asp:Label id="SRP" runat="server" CssClass="text"></asp:Label></TD>
																		</TR>
																		<TR>
																			<TD><BR>
																				<asp:datagrid id="tblCPRules" runat="server" CssClass="text" Width="504px" Visible="False" CellPadding="3"
																					BackColor="White" BorderWidth="1px" BorderStyle="None" BorderColor="#CCCCCC">
																					<FooterStyle ForeColor="#000066" BackColor="White"></FooterStyle>
																					<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
																					<AlternatingItemStyle BackColor="WhiteSmoke"></AlternatingItemStyle>
																					<ItemStyle ForeColor="#000066"></ItemStyle>
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#1C4C8E"></HeaderStyle>
																					<PagerStyle HorizontalAlign="Left" ForeColor="#000066" BackColor="White" Mode="NumericPages"></PagerStyle>
																				</asp:datagrid></TD>
																		</TR>
																		<TR>
																			<TD><BR>
																				<asp:label id="lblDescription" runat="server"></asp:label></TD>
																		</TR>
																		<TR>
																			<TD>
																				<asp:label id="lblComments" runat="server"></asp:label></TD>
																		</TR>
																		<TR>
																			<TD><BR>
																				<asp:datagrid id="tblDocList" runat="server" CssClass="text" Width="504px" Visible="False" CellPadding="3"
																					BackColor="White" BorderWidth="1px" BorderStyle="None" BorderColor="#CCCCCC">
																					<FooterStyle ForeColor="#000066" BackColor="White"></FooterStyle>
																					<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
																					<AlternatingItemStyle BackColor="WhiteSmoke"></AlternatingItemStyle>
																					<ItemStyle ForeColor="#000066"></ItemStyle>
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#1C4C8E"></HeaderStyle>
																					<PagerStyle HorizontalAlign="Left" ForeColor="#000066" BackColor="White" Mode="NumericPages"></PagerStyle>
																				</asp:datagrid></TD>
																		</TR>
																	</TABLE>
																</asp:panel></td>
														</tr>
													</TABLE>
												</form>
											</center>
											<TABLE id="Table3" class="text" border="0" cellSpacing="0" cellPadding="0" width="300"
												align="right">
												<TR>
													<TD align="left">
														<P align="right"><asp:hyperlink id="HyperLink1" runat="server" NavigateUrl="Middle.aspx">Back</asp:hyperlink></P>
													</TD>
												</TR>
											</TABLE>
										</td>
									</tr>
								</table>
								<br>
							</td>
						</tr>
					</table>
					<table border="0" cellSpacing="0" cellPadding="0" width="100%">
						<tr bgColor="#c0cfe2">
							<td height="5"><IMG src="/images/gemological-laboratory.gif" width="1" height="1"></td>
						</tr>
					</table>
					<table border="0" cellSpacing="0" cellPadding="3" width="100%">
						<tr bgColor="#3b6aa0">
							<td>&nbsp;</td>
							<td width="500" align="right"><IMG src="/images/arw1.gif" width="4" height="7"> <A class="footerlinks" href="/index.html">
									Home</A> &nbsp;&nbsp;</td>
							<td><IMG src="/images/arw1.gif" width="4" height="7"> <A class="footerlinks" href="/privacy.html">
									Privacy Policy</A></td>
							<td><IMG src="/images/arw1.gif" width="4" height="7"> <A class="footerlinks" href="/contactus.html">
									Contact Us </A>
							</td>
							<td><IMG src="/images/arw1.gif" width="4" height="7"> <A class="footerlinks" href="/sitemap.html">
									Site Map </A>
							</td>
						</tr>
					</table>
				</td>
				<td bgColor="#ffffff" width="1"><IMG src="/images/gemological-laboratory.gif" width="1" height="1"></td>
				<td bgColor="#b8c5d5" width="10">&nbsp;</td>
			</tr>
			</TBODY></table>
		<br>
	</body>
</HTML>
