<%@ Page language="c#" Codebehind="EmailSent.aspx.cs" AutoEventWireup="True" Inherits="Corpt.EmailSent" codePage="65001"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>EmailSent</title>
		<META http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="css/main.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body>
		<br>
		<br>
		<br>
		<br>
		<TABLE id="Table1" cellSpacing="1" cellPadding="1" width="100%" border="0" align="center"
			height="20%">
			<TR>
				<TD align="center">
					<form id="Form1" method="post" runat="server">
						<asp:Label id="lblResult" runat="server" Height="24px" Width="128px" CssClass="text">Label</asp:Label></form>
				</TD>
			</TR>
			<TR>
				<TD align="center">
					<input name="Close" type="button" value="OK" onClick="javascript:window.close();" class="buttonStyle"></TD>
			</TR>
		</TABLE>
	</body>
</HTML>
