<%@ Page language="c#" Codebehind="Expire.aspx.cs" AutoEventWireup="True" Inherits="Corpt.Expire" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Expire</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:RadioButtonList id="rblScopeSelector" style="Z-INDEX: 101; POSITION: absolute; TOP: 88px; LEFT: 64px"
				runat="server" RepeatDirection="Horizontal">
				<asp:ListItem Value="1">Order</asp:ListItem>
				<asp:ListItem Value="2">Batch</asp:ListItem>
				<asp:ListItem Value="3">Item</asp:ListItem>
			</asp:RadioButtonList>
			<asp:Label id="Label5" style="Z-INDEX: 109; POSITION: absolute; TOP: 224px; LEFT: 72px" runat="server">Order Number</asp:Label>
			<asp:Label id="Label4" style="Z-INDEX: 108; POSITION: absolute; TOP: 184px; LEFT: 72px" runat="server">Order Number</asp:Label>
			<asp:TextBox id="txtItemNumber" style="Z-INDEX: 107; POSITION: absolute; TOP: 224px; LEFT: 192px"
				runat="server"></asp:TextBox>
			<asp:Label id="Label3" style="Z-INDEX: 103; POSITION: absolute; TOP: 144px; LEFT: 72px" runat="server">Order Number</asp:Label>
			<asp:TextBox id="txtBatchNumber" style="Z-INDEX: 106; POSITION: absolute; TOP: 184px; LEFT: 192px"
				runat="server"></asp:TextBox>
			<asp:Label id="Label2" style="Z-INDEX: 104; POSITION: absolute; TOP: 144px; LEFT: 72px" runat="server">Order Number</asp:Label>
			<asp:TextBox id="txtOrderNumber" style="Z-INDEX: 102; POSITION: absolute; TOP: 144px; LEFT: 192px"
				runat="server"></asp:TextBox>
			<asp:Label id="Label1" style="Z-INDEX: 105; POSITION: absolute; TOP: 144px; LEFT: 72px" runat="server">Order Number</asp:Label>
			<asp:Button id="cmdExpire" style="Z-INDEX: 110; POSITION: absolute; TOP: 272px; LEFT: 288px"
				runat="server" Text="Expire" onclick="cmdExpire_Click"></asp:Button>
			<asp:DataGrid id="DataGrid1" style="Z-INDEX: 111; POSITION: absolute; TOP: 352px; LEFT: 200px"
				runat="server"></asp:DataGrid>
			<asp:Label id="Label6" style="Z-INDEX: 112; POSITION: absolute; TOP: 120px; LEFT: 344px" runat="server">Label</asp:Label>
			<asp:DataGrid id="DataGrid2" style="Z-INDEX: 113; POSITION: absolute; TOP: 520px; LEFT: 200px"
				runat="server"></asp:DataGrid>
		</form>
	</body>
</HTML>
