<%@ Page language="c#" Codebehind="KillItem.aspx.cs" AutoEventWireup="True" Inherits="Corpt.KillItem" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>KillItem</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:TextBox style="Z-INDEX: 101; POSITION: absolute; TOP: 72px; LEFT: 40px" id="txtItemNumber"
				runat="server"></asp:TextBox>
			<asp:Button style="Z-INDEX: 102; POSITION: absolute; TOP: 72px; LEFT: 208px" id="Button1" runat="server"
				Text="KILL" ForeColor="Red" BackColor="White" Font-Bold="True" Font-Names="Arial Black" onclick="Button1_Click"></asp:Button>
			<asp:Label style="Z-INDEX: 103; POSITION: absolute; TOP: 32px; LEFT: 40px" id="lblInfo" runat="server"></asp:Label>
			<asp:DataGrid style="Z-INDEX: 104; POSITION: absolute; TOP: 144px; LEFT: 40px" id="dgDebug" runat="server"
				CssClass="Text"></asp:DataGrid>
			<asp:Label style="Z-INDEX: 105; POSITION: absolute; TOP: 120px; LEFT: 456px" id="lblDebug1"
				runat="server">Label</asp:Label>
			<asp:Label style="Z-INDEX: 106; POSITION: absolute; TOP: 152px; LEFT: 456px" id="lblDebug2"
				runat="server">Label</asp:Label>
			<asp:Label style="Z-INDEX: 107; POSITION: absolute; TOP: 184px; LEFT: 456px" id="lblDebug3"
				runat="server">Label</asp:Label>
		</form>
	</body>
</HTML>
