<%@ Page language="c#" Codebehind="LaserLogReview.aspx.cs" AutoEventWireup="True" Inherits="Corpt.LaserLogReview" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>LaserLogReview</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Button style="Z-INDEX: 101; POSITION: absolute; TOP: 88px; LEFT: 400px" id="cmdLookup"
				runat="server" Text="Get Records"></asp:Button>
			<asp:TextBox style="Z-INDEX: 102; POSITION: absolute; TOP: 88px; LEFT: 56px" id="txtDateFrom"
				runat="server"></asp:TextBox>
			<asp:TextBox style="Z-INDEX: 103; POSITION: absolute; TOP: 88px; LEFT: 232px" id="txtDateTo"
				runat="server"></asp:TextBox>
			<asp:DataGrid style="Z-INDEX: 104; POSITION: absolute; TOP: 136px; LEFT: 56px" id="DataGrid1"
				runat="server"></asp:DataGrid>
		</form>
	</body>
</HTML>
