<%@ Page language="c#" Codebehind="LeoReportToCpRulesRedirect.aspx.cs" AutoEventWireup="True" Inherits="Corpt.LeoReportToCpRulesRedirect" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>LeoReportToCpRulesRedirect</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Label style="Z-INDEX: 101; POSITION: absolute; TOP: 280px; LEFT: 440px" id="lblInfo" runat="server"
				Width="640px" Height="224px">Label</asp:Label>
		</form>
	</body>
</HTML>
