<%@ Page language="c#" Codebehind="MarkLaser.aspx.cs" AutoEventWireup="True" Inherits="Corpt.MarkLaser" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>MarkLaser</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK rel="stylesheet" type="text/css" href="css/main.css">
	</HEAD>
	<body MS_POSITIONING="GridLayout" OnLoad="document.Form1.txtItemNumber.focus();">
		<form id="Form1" method="post" runat="server">
			<asp:TextBox style="Z-INDEX: 101; POSITION: absolute; TOP: 88px; LEFT: 48px" id="txtItemNumber"
				runat="server" CssClass="inputStyleCC" AutoPostBack="True" ontextchanged="txtItemNumber_TextChanged"></asp:TextBox>
			<asp:Label style="Z-INDEX: 102; POSITION: absolute; TOP: 40px; LEFT: 48px" id="lblInfo" runat="server"></asp:Label>
		</form>
	</body>
</HTML>
