﻿<%@ Page Title="" Language="C#" MasterPageFile="~/DefaultMaster.Master" AutoEventWireup="true" CodeBehind="PDFRedirect.aspx.cs" Inherits="Corpt.PDFRedirect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="SampleContent" runat="server">
</asp:Content>
