<%@ Page language="c#" Codebehind="PrintItemizedList.aspx.cs" AutoEventWireup="True" Inherits="Corpt.PrintItemizedList" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>PrintItemizedList</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="css/main.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:DataGrid id="batchList" runat="server" CssClass="text"></asp:DataGrid><br>
			&nbsp; <input name="PrintIt" type="button" value="Print" onClick="javascript:window.print();"
				class="buttonStyle"> <INPUT class="buttonStyle" onclick="javascript:window.close();" type="button" value="Close"
				name="Close">
		</form>
	</body>
</HTML>
