<%@ Page language="c#" Codebehind="ShapeView.aspx.cs" AutoEventWireup="True" Inherits="Corpt.ShapeView" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>ShapeView</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="css/main.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Label id="lblItemNumber" style="Z-INDEX: 101; LEFT: 32px; POSITION: absolute; TOP: 48px"
				runat="server" CssClass="text" Font-Bold="True"></asp:Label>
			<asp:Image id="imgShape" style="Z-INDEX: 102; LEFT: 32px; POSITION: absolute; TOP: 80px" runat="server"></asp:Image>
		</form>
	</body>
</HTML>
