<%@ Page language="c#" Codebehind="ShortReportList.aspx.cs" AutoEventWireup="True" Inherits="Corpt.ShortReportList" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Gem Science </title>
		<meta http-equiv="Content-Language" content="en-us">
		<LINK href="/main.css" type="text/css" rel="stylesheet">
			<script src="js/login.js"></script>
			<meta http-equiv="Expires" content="Tue, 16 Jan 1990 21:29:02 GMT">
			<LINK href="css/main.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body bgColor="#b8c5d5" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
		<BLOCKQUOTE>
			<table cellSpacing="0" cellPadding="0" width="780" align="center" border="0">
				<tr>
					<td width="10" bgColor="#b8c5d5"></td>
					<td width="1" bgColor="#ffffff"><IMG height="1" src="/images/gemological-laboratory.gif" width="1"></td>
					<td vAlign="top">
						<table cellSpacing="0" cellPadding="0" width="758" border="0">
							<tr>
								<td><A href="/index.html"><IMG height="73" alt="Gemological Science International" src="/images/top1.jpg" width="371"
											border="0"></A></td>
								<td><IMG height="73" src="/images/in_top2.jpg" width="387"></td>
							</tr>
						</table>
						<table cellSpacing="0" cellPadding="0" width="758" border="0">
							<tr>
								<td vAlign="top" width="145" background="/images/links_bg1.jpg">
									<table height="100%" cellSpacing="0" cellPadding="0" width="146" background="/images/links_bg1.jpg"
										border="0">
										<tr>
											<td><A href="/index.html"><IMG height="74" src="/images/top1a.jpg" width="146" border="0"></A></td>
										</tr>
									</table>
									<table height="100%" cellSpacing="0" cellPadding="0" width="146" border="0">
										<tr>
											<td background="/images/links_bg1.jpg"><A href="/aboutus.html"><IMG height="24" alt="About Us" src="/images/aboutus.gif" width="146" border="0"></A></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><A href="/tourourlab.html"><IMG height="24" alt="Tour Our Lab" src="/images/tourourlab.gif" width="146" border="0"></A></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><A href="/diamond-grading-reports.html"><IMG height="24" alt="Products and Services" src="/images/productsservices.gif" width="146"
														border="0"></A></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><A href="/thegemexperience.html"><IMG height="24" alt="The Gem Experience" src="/images/thegemexperience.gif" width="146"
														border="0"></A></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><A href="/tracking/result.asp"><IMG height="24" src="/images/verifyYourReport.gif" width="146" border="0"></A></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><A href="/consumer_trackyourjob.html"><IMG height="24" alt="Your Account" src="/images/youraccount.gif" width="146" border="0"></A></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><A href="/virtualvault/ActivateVirtualVault.aspx"><IMG height="24" alt="Your VirtualVault TM" src="/images/YourVirtualVault.gif" width="146"
														border="0"></A></td>
										</tr>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr vAlign="top" background="/images/links_bg.jpg">
											<td><A href="/trade.html"><IMG style="BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; WIDTH: 146px; HEIGHT: 24px; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid"
														alt="Industry Support" hspace="0" src="/images/trage.gif"></A></td>
										<tr>
											<td background="/images/links_bg1.jpg"><IMG height="1" src="/images/links_line.gif" width="146"></td>
										</tr>
										<tr vAlign="top" background="/images/links_bg.jpg">
											<td height="130"><br>
												<table height="70" cellSpacing="0" cellPadding="0" width="140" align="center" border="0">
													<form>
														<TBODY>
															<tr bgColor="#ffffff">
																<td><IMG height="11" src="/images/search.gif" width="46"> <input class="tinput" size="18" name="d">
																	<input type="image" height="17" width="17" src="/images/go.gif" border="0" name="imageField">
																</td>
															</tr></form>
												</table>
											</td>
										</tr>
										<tr background="/images/links_bg1.jpg">
											<td height="100%">&nbsp;</td>
										</tr>
									</table>
								</td>
								<td vAlign="top" align="left" width="613" bgColor="#ffffff">
									<table cellSpacing="0" cellPadding="0" width="500" border="0">
										<tr>
											<td><IMG height="91" src="/images/Corp.jpg" width="225"></td>
											<td><IMG height="91" src="/images/aboutus2.jpg" width="387"></td>
										</tr>
									</table>
									<table cellSpacing="0" cellPadding="10" width="100%" border="0">
										<tr vAlign="top" align="left">
											<td>
												<p class="text">
												<p class="text">Select one or more batches and click Show Report.</p>
												<CENTER class="text">
													<FORM id="Form1" method="post" runat="server">
														<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="100%" border="0">
															<TR>
																<TD align="center"><asp:label id="WrongInfoLabel" runat="server" CssClass="text" designtimedragdrop="11" Width="328px"></asp:label></TD>
															</TR>
															<tr>
																<td class="text" align="center">
																	<div class="text" id="myDiv" runat="server">
																		<asp:RadioButtonList id="resultSelector" runat="server" CssClass="Text" CellSpacing="1" CellPadding="0"
																			AutoPostBack="True" RepeatDirection="Horizontal" onselectedindexchanged="resultSelector_SelectedIndexChanged">
																			<asp:ListItem Value="Auto">Auto</asp:ListItem>
																			<asp:ListItem Value="Manual">Manual</asp:ListItem>
																		</asp:RadioButtonList></div>
																</td>
															</tr>
															<TR>
																<TD align="center"><asp:checkboxlist id="BatchList" runat="server" CssClass="text" BorderColor="#E0E0E0" BorderStyle="Solid"
																		BorderWidth="1px" CellPadding="1" RepeatColumns="7" CellSpacing="1"></asp:checkboxlist></TD>
															</TR>
															<TR>
																<TD align="center" height="11"><asp:button id="cmdGo" runat="server" CssClass="buttonStyle" Text="Show Report" onclick="cmdGo_Click"></asp:button><asp:button id="cmdSelectAll" runat="server" CssClass="buttonStyle" Text="Select All" onclick="cmdSelectAll_Click"></asp:button><asp:button id="cmdDeselectAll" runat="server" CssClass="buttonStyle" Text="Deselect All" onclick="cmdDeselectAll_Click"></asp:button><br>
																	<asp:linkbutton id="cmdDownloadExcel" runat="server" CssClass="text" Visible="False" onclick="cmdDownloadExcel_Click">Download Excel File</asp:linkbutton></TD>
															</TR>
															<TR>
																<TD align="center"><asp:datagrid id="ReportList" runat="server" CssClass="text" Width="504px" BorderColor="#CCCCCC"
																		BorderStyle="None" BorderWidth="1px" CellPadding="3" BackColor="White" PageSize="5">
																		<FooterStyle ForeColor="#000066" BackColor="White"></FooterStyle>
																		<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
																		<AlternatingItemStyle BackColor="WhiteSmoke"></AlternatingItemStyle>
																		<ItemStyle ForeColor="#000066"></ItemStyle>
																		<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#1C4C8E"></HeaderStyle>
																		<PagerStyle HorizontalAlign="Left" ForeColor="#000066" BackColor="White" CssClass="text" Mode="NumericPages"></PagerStyle>
																	</asp:datagrid>
																</TD>
															</TR>
															<TR>
																<TD align="center"></TD>
															</TR>
														</TABLE>
													</FORM>
												</CENTER>
												<TABLE id="Table3" cellSpacing="0" cellPadding="0" width="300" align="right" border="0">
													<TR>
														<TD>
															<P align="right"><asp:hyperlink id="HyperLink1" runat="server" NavigateUrl="Middle.aspx">Back</asp:hyperlink></P>
														</TD>
													</TR>
												</TABLE>
											</td>
										</tr>
									</table>
									<br>
								</td>
							</tr>
						</table>
						<table cellSpacing="0" cellPadding="0" width="100%" border="0">
							<tr bgColor="#c0cfe2">
								<td height="5"><IMG height="1" src="/images/gemological-laboratory.gif" width="1"></td>
							</tr>
						</table>
						<table cellSpacing="0" cellPadding="3" width="100%" border="0">
							<tr bgColor="#3b6aa0">
								<td>&nbsp;</td>
								<td align="right" width="500"><IMG height="7" src="/images/arw1.gif" width="4"> <A class="footerlinks" href="/index.html">
										Home</A> &nbsp;&nbsp;</td>
								<td><IMG height="7" src="/images/arw1.gif" width="4"> <A class="footerlinks" href="/privacy.html">
										Privacy Policy</A></td>
								<td><IMG height="7" src="/images/arw1.gif" width="4"> <A class="footerlinks" href="/contactus.html">
										Contact Us </A>
								</td>
								<td><IMG height="7" src="/images/arw1.gif" width="4"> <A class="footerlinks" href="/sitemap.html">
										Site Map </A>
								</td>
							</tr>
						</table>
					</td>
					<td width="1" bgColor="#ffffff"><IMG height="1" src="/images/gemological-laboratory.gif" width="1"></td>
					<td width="10" bgColor="#b8c5d5">&nbsp;</td>
				</tr>
				</TBODY></table>
		</BLOCKQUOTE>
		<br>
	</body>
</HTML>
