<%@ Page language="c#" Codebehind="ShowReportStructure.aspx.cs" AutoEventWireup="True" Inherits="Corpt.ShowReportStructure" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Gem Science </title>
		<meta http-equiv="Content-Language" content="en-us">
		<LINK href="/main.css" rel="stylesheet" type="text/css">
			<script src="js/login.js"></script>
			<meta HTTP-EQUIV="Expires" CONTENT="Tue, 16 Jan 1990 21:29:02 GMT">
			<link href="css/main.css" rel="stylesheet" type="text/css">
	</HEAD>
	<body bgcolor="#b8c5d5" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<table width="780" border="0" cellspacing="0" cellpadding="0" align="center">
			<tr>
				<td bgcolor="#b8c5d5" width="10"></td>
				<td bgcolor="#ffffff" width="1"><img src="/images/gemological-laboratory.gif" width="1" height="1"></td>
				<td valign="top">
					<table width="758" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="/index.html"><img src="/images/top1.jpg" width="371" height="73" border="0" alt="Gemological Science International"></a></td>
							<td><img src="/images/in_top2.jpg" width="387" height="73"></td>
						</tr>
					</table>
					<table width="758" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="145" valign="top" background="/images/links_bg1.jpg">
								<table width="146" border="0" cellspacing="0" cellpadding="0" height="100%" background="/images/links_bg1.jpg">
									<tr>
										<td><a href="/index.html"><img src="/images/top1a.jpg" width="146" height="74" border="0"></a></td>
									</tr>
								</table>
								<table width="146" border="0" cellspacing="0" cellpadding="0" height="100%">
									<tr>
										<td background="/images/links_bg1.jpg"><a href="/aboutus.html"><img src="/images/aboutus.gif" width="146" height="24" border="0" alt="About Us"></a></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><a href="/tourourlab.html"><img src="/images/tourourlab.gif" width="146" height="24" border="0" alt="Tour Our Lab"></a></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><a href="/diamond-grading-reports.html"><img src="/images/productsservices.gif" width="146" height="24" border="0" alt="Products and Services"></a></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><a href="/thegemexperience.html"><img src="/images/thegemexperience.gif" width="146" height="24" border="0" alt="The Gem Experience"></a></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" height="1" width="146"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg">
											<a href="/tracking/result.asp"><img border="0" src="/images/verifyYourReport.gif" width="146" height="24"></a></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><a href="/consumer_trackyourjob.html"><img src="/images/youraccount.gif" width="146" height="24" border="0" alt="Your Account"></a></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><a href="/virtualvault/ActivateVirtualVault.aspx"><img src="/images/YourVirtualVault.gif" alt="Your VirtualVault TM" border="0" height="24"
													width="146"></a></td>
									</tr>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" height="1" width="146"></td>
									</tr>
									<tr background="/images/links_bg.jpg" valign="top">
										<td>
											<a href="/trade.html"><img alt="Industry Support" src="/images/trage.gif" style="BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; WIDTH: 146px; HEIGHT: 24px; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid"
													hspace="0"></a></td>
									<tr>
										<td background="/images/links_bg1.jpg"><img src="/images/links_line.gif" width="146" height="1"></td>
									</tr>
									<tr valign="top" background="/images/links_bg.jpg">
										<td height="130">
											<br>
											<table width="140" border="0" cellspacing="0" cellpadding="0" align="center" height="70">
												<form>
													<TBODY>
														<tr bgcolor="#ffffff">
															<td>
																<img src="/images/search.gif" width="46" height="11"> <input name="d" size="18" class="tinput">
																<input type="image" border="0" name="imageField" src="/images/go.gif" width="17" height="17">
															</td>
														</tr>
												</form>
											</table>
										</td>
									</tr>
									<tr background="/images/links_bg1.jpg">
										<td height="100%">&nbsp;</td>
									</tr>
								</table>
							</td>
							<td align="left" valign="top" width="613" bgcolor="#ffffff">
								<table width="500" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><img src="/images/Corp.jpg" width="225" height="91"></td>
										<td><img src="/images/aboutus2.jpg" width="387" height="91"></td>
									</tr>
								</table>
								<table width="100%" border="0" cellspacing="0" cellpadding="10">
									<tr align="left" valign="top">
										<td>
											<p class="text">
												<CENTER>
													<form id="Form1" method="post" runat="server">
														<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="100%" border="0">
															<TR>
																<TD align="center">
																	<asp:Label id="Label1" runat="server"></asp:Label>&nbsp;
																	<asp:DataGrid id="tblDocStructure" runat="server" CssClass="text" width="100%" BorderColor="#CCCCCC"
																		BorderStyle="None" BorderWidth="1px" BackColor="White" CellPadding="3">
																		<FooterStyle ForeColor="#000066" BackColor="White"></FooterStyle>
																		<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
																		<AlternatingItemStyle BackColor="WhiteSmoke"></AlternatingItemStyle>
																		<ItemStyle ForeColor="#000066"></ItemStyle>
																		<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#1C4C8E"></HeaderStyle>
																		<PagerStyle HorizontalAlign="Left" ForeColor="#000066" BackColor="White" Mode="NumericPages"></PagerStyle>
																	</asp:DataGrid>
																</TD>
															</TR>
														</TABLE>
													</form>
												</CENTER>
												<DIV align="right">
													<TABLE cellPadding="0" width="300" border="0" align="right" id="Table3" cellSpacing="0">
														<TR>
															<TD>
															</TD>
														</TR>
													</TABLE>
												</DIV>
										</td>
									</tr>
								</table>
								<br>
							</td>
						</tr>
					</table>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr bgcolor="#c0cfe2">
							<td height="5"><img src="/images/gemological-laboratory.gif" width="1" height="1"></td>
						</tr>
					</table>
					<table width="100%" border="0" cellspacing="0" cellpadding="3">
						<tr bgcolor="#3b6aa0">
							<td>&nbsp;</td>
							<td width="500" align="right"><img src="/images/arw1.gif" width="4" height="7"> <a href="/index.html" class="footerlinks">
									Home</a> &nbsp;&nbsp;</td>
							<td><img src="/images/arw1.gif" width="4" height="7"> <a href="/privacy.html" class="footerlinks">
									Privacy Policy</a></td>
							<td><img src="/images/arw1.gif" width="4" height="7"> <a href="/contactus.html" class="footerlinks">
									Contact Us </a>
							</td>
							<td><img src="/images/arw1.gif" width="4" height="7"> <a href="/sitemap.html" class="footerlinks">
									Site Map </a>
							</td>
						</tr>
					</table>
				</td>
				<td bgcolor="#ffffff" width="1"><img src="/images/gemological-laboratory.gif" width="1" height="1"></td>
				<td bgcolor="#b8c5d5" width="10">&nbsp;</td>
			</tr>
			</TBODY></table>
		<br>
	</body>
</HTML>
