<%@ Page language="c#" Codebehind="TestRandom.aspx.cs" AutoEventWireup="True" Inherits="Corpt.TestRandom" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>TestRandom</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK rel="stylesheet" type="text/css" href="css/main.css">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>min
				<asp:TextBox id="txtMin" runat="server"></asp:TextBox>max
				<asp:TextBox id="txtMax" runat="server"></asp:TextBox></P>
			<P>batchid
				<asp:TextBox id="txtBatchID" runat="server"></asp:TextBox>itemcode
				<asp:TextBox id="txtItemCode" runat="server"></asp:TextBox></P>
			<P>partytypeid
				<asp:TextBox id="txtItemTypeID" runat="server"></asp:TextBox>
				<asp:Button id="Button1" runat="server" Text="Button" onclick="Button1_Click"></asp:Button>numberofcalls
				<asp:TextBox style="Z-INDEX: 0" id="txtAttempts" runat="server"></asp:TextBox></P>
			<P>
				<asp:DataGrid id="dgResult" runat="server" CssClass="text"></asp:DataGrid></P>
		</form>
	</body>
</HTML>
