<%@ Page language="c#" Codebehind="TrackingStepOrderDetail.aspx.cs" AutoEventWireup="True" Inherits="Corpt.TrackingStepOrderDetail" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>TrackingStepOrderDetail</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<LINK rel="stylesheet" type="text/css" href="css/main.css">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>
				<asp:Button style="Z-INDEX: 0" id="cmdHome" runat="server" CssClass="ButtonStyle" DESIGNTIMEDRAGDROP="20"
					Text="Home" onclick="cmdHome_Click"></asp:Button>&nbsp;&nbsp;
				<asp:Button style="Z-INDEX: 0" id="cmdTrackingStart" runat="server" CssClass="ButtonStyle" Text="Back to Customer Select" onclick="cmdTrackingStart_Click"></asp:Button>&nbsp;&nbsp;
				<asp:Button style="Z-INDEX: 0" id="cmdBack" runat="server" CssClass="ButtonStyle" DESIGNTIMEDRAGDROP="20"
					Text="Back" onclick="cmdBack_Click"></asp:Button></P>
			<P>
				<asp:Label id="lblinfo" runat="server" CssClass="text"></asp:Label></P>
			<P>
				<asp:DataGrid id="dgHistory" runat="server" CssClass="text"></asp:DataGrid></P>
		</form>
		<P>&nbsp;</P>
		<P>
			<asp:Label id="lblTrackingInfo" runat="server" CssClass="text">Label</asp:Label></P>
	</body>
</HTML>
