<%@ Page language="c#" Codebehind="TrackingIIBatchDetail.aspx.cs" AutoEventWireup="True" Inherits="Corpt.TrackingIIBatchDetail" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>TrackingIIBatchDetail</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:hyperlink style="Z-INDEX: 101; POSITION: absolute; TOP: 8px; LEFT: 8px" id="HyperLink1" runat="server"
				NavigateUrl="Middle.aspx" CssClass="text">Back</asp:hyperlink>
			<asp:DataGrid style="Z-INDEX: 102; POSITION: absolute; TOP: 112px; LEFT: 24px" id="dgBatchDetail"
				runat="server" CssClass="text" AllowSorting="True"></asp:DataGrid>
			<asp:Label style="Z-INDEX: 103; POSITION: absolute; TOP: 40px; LEFT: 128px" id="lblInfo" runat="server"
				CssClass="text">Label</asp:Label>
		</form>
	</body>
</HTML>
