<%@ Page language="c#" Codebehind="VoidItem.aspx.cs" AutoEventWireup="True" Inherits="Corpt.VoidItem" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>VoidItem</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:TextBox style="Z-INDEX: 101; POSITION: absolute; TOP: 112px; LEFT: 40px" id="txtGroupCode"
				runat="server"></asp:TextBox>
			<asp:TextBox style="Z-INDEX: 102; POSITION: absolute; TOP: 112px; LEFT: 208px" id="txtBatchCode"
				runat="server"></asp:TextBox>
			<asp:TextBox style="Z-INDEX: 103; POSITION: absolute; TOP: 112px; LEFT: 368px" id="txtItemCode"
				runat="server"></asp:TextBox>
			<asp:Button style="Z-INDEX: 104; POSITION: absolute; TOP: 168px; LEFT: 256px" id="cmdSave" runat="server"
				Text="Save" onclick="cmdSave_Click"></asp:Button>
			<asp:Label style="Z-INDEX: 105; POSITION: absolute; TOP: 32px; LEFT: 40px" id="lblInfo" runat="server">Label</asp:Label>
		</form>
	</body>
</HTML>
