<%@ Page language="c#" Codebehind="VVAdmin.aspx.cs" AutoEventWireup="True" Inherits="Corpt.VVAdmin" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>VVAdmin</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="/main.css" rel="stylesheet" type="text/css">
	</HEAD>
	<body bgColor="#f9ffff" MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:hyperlink id="HyperLink1" style="Z-INDEX: 102; LEFT: 672px; POSITION: absolute; TOP: 472px"
				runat="server" NavigateUrl="Middle.aspx">Back</asp:hyperlink>
			<asp:Button id="cmdExisitingUser" style="Z-INDEX: 103; LEFT: 280px; POSITION: absolute; TOP: 96px"
				runat="server" Text="Existing User" Height="24px" Width="96px" CssClass="buttonStyle" Enabled="False"
				Visible="False" onclick="cmdExisitingUser_Click"></asp:Button>
			<asp:Button id="cmdNewActivation" style="Z-INDEX: 100; LEFT: 144px; POSITION: absolute; TOP: 96px"
				runat="server" Text="New User" CssClass="buttonStyle" Width="96px" Height="24px" onclick="cmdNewActivation_Click"></asp:Button>
		</form>
	</body>
</HTML>
