﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="XmlDownload.aspx.cs" Inherits="Corpt.XmlDownload" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
	<script type="text/javascript">
    window.close();
</script>
</body>
</html>
